#Ignore files
.DS_Store
.htaccess
.ds_store
.babelrc
.bower.json
.bowerrc
.eslintrc
.scss-lint.yml
.travis.yml
.jshintrc
.bin
.npmignore
.zuul.yml
.tern-port
.gitkeep
.gitignore.orig
.gitignore.rej
.gitmodules
.jscs.json
.ignore
.dir-locals.el
.dntrc
.build.sh
.eslintignore
.idea
.name
.coveralls.yml
.gitattributes
.verb.md
.deps
.jamignore
.editorconfig
.jsdoc.conf.json
.lint
.lintignore
.istanbul.yml
.testem.json
.svgo.yml
.baz
.cardinalrc
.circle.yml
.nvmrc
.jshintignore
.npmrc
.jscsrc
.documentup.json
.gitattribut

#sublime files
*.sublime-*
Thumbs.db

*.log
sitemap.xml
sitemap.xml.gz

#Ignore cache
.sass-cache/
.cache/

#Sass Source Maps
*.map

#Bower/Node Folders
bower_components
node_modules

/readme.html
/license.txt