#Ignore files
.DS_Store
.htaccess
.ds_store
.babelrc
.bower.json
.bowerrc
.scss-lint.yml
.jshintrc
.bin
.npmignore
.nvmrc
.npmrc

#sublime files
*.sublime-*
Thumbs.db

*.log
sitemap.xml
sitemap.xml.gz

#Ignore cache
.sass-cache/
.cache/

#Sass Source Maps
*.map

#Bower/Node Folders
bower_components
node_modules

/readme.html
/license.txt